@charset "utf-8";
body{
    background-color: #F1F1F1;
}
// 导航条部分
.navigation{
    background-color: #666666;
}
.navigation .container{
    width:1300px;
    height: 48px;
    margin:auto;
    // border: 1px solid black;
}
.navigation .container .top_nav{
    width: 526px;
    height: 47px;
    // border: 1px solid red;
    float: left;
}
.navigation .container .top_nav a{
    color: #CCCCCC;
    font-size: 12px;
    line-height: 48px;
    padding:0 20px;
}
.navigation .container .top_info{
    width: 419px;
    height: 47px;
    // border: 1px solid red;
    float: right;
}
.navigation .container .top_info a{
    color: #CCCCCC;
    font-size: 12px;
    line-height: 48px;
    padding:0 15px;
}
.navigation .container .top_info span{
    color: #CCCCCC;
    font-size: 12px;
}



// 头部导航词
.header-nav .container{
    width:1300px;
    height: 103px;
    margin: auto;
    // border: 1px solid gold;
}
.header-nav .container .header_logo{
    width: 83px;
    height:45px;
    // border: 1px solid black;
    padding-top: 22.5px;
    float: left;
}
.header-nav .container .header_logo img{
    width: 83px;
    height:45px;
}
.header-nav .container .nav_list-left{
    float: left;
    margin-left: 50px;
}
.header-nav .container .nav_list-left a{
    color: #333333;
    font-size: 14px;
    padding: 20px 10px 0;
}
.header-nav .container .nav_list-left .nav_item{
    display: inline-block;
    line-height: 103px;
}
.header-nav .container .nav_list-right{
    float: left;
    // border: 1px solid black;
    margin-left: 50px;
}
.header-nav .container .nav_list-right span{
    color: #E3E3E3;
}
.header-nav .container .nav_list-right a{
    color: #333333;
    font-size: 14px;
    padding: 20px 10px 0;
}
.header-nav .container .header_search input{
    float: right;
	width: 250px;
	height: 33px;
	border: 1px solid #E0E0E0;
	margin: 35px 0;
}
.header-nav .container .nav_list-right .nav_item{
    display: inline-block;
    line-height: 103px;
}
// 轮播图
.banner .container img{
    width: 100%;
    height: 100%;
}

// 价格选择
.price .container{
    width: 1250px;
    height: 350px;
    background-color:#FFFFFF;
    // border: 1px solid red;
    margin:20px auto 0;
    padding: 25px 25px;
}
.price .container .cost{
    width: 1080px;
    height: 80px;
    // border: 1px solid green;
    margin-left: 100px;
    margin-top: 45px;
}
.price .container .cost .cost-left{
    float: left;
}
.price .container .cost .cost-left a{
    margin-right: 50px;
}

.price .container .cost .cost-right{
    float: right;
    width: 820px;
    height: 80px;
    // border: 1px solid goldenrod;

}
.price .container .cost .cost-right a{
    margin-right: 50px;
    display: inline-block;
    margin-bottom: 20px;
}
// 综合排序
.synthesize{
    padding: 35px 0;
}
.synthesize .container{
    width: 1300px;
    height: 30px;
    // border: 1px solid red;
    margin: auto;
}
.synthesize .container a{
    margin-right: 50px;
    color: #333333;
}

// 空调分类
.classify .container{
    width: 1300px;
    height: 1288px;
    // border: 1px solid red;
    margin: auto;
}
.classify .container ul{
    text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
}
.classify .container li{
    width: 400px;
    height: 416px;
    margin-top: 10px;
    background-color: #FFFFFF;
    // border: 1px solid black;
}

// 帮助
.help{
    height: 306px;
    background-color: #f0f0f0;
}
.help .container{
    width: 1300px;
    height: 306px;
    // border: 1px solid red;
    margin: auto;
}
.help .container div {
    width: 125px;
	height: 162px;
	// border: 1px solid red;
	float: left;
    margin-left: 88px;
    margin-top: 50px;
}
.help .container h2{
    font-size: 16px;
	font-weight: bold;
}
.help .container li{
    font-size: 12px;
	color: #626b58;
	margin-top: 8px;
}
// 底部
.footer{
    height: 180px;
    background-color: #E3E3E3;
}
.footer .container{
    width: 1300px;
    height: 180px;
    // border: 1px solid purple;
    margin: auto;
}
.footer .container a{
    color: #999999;
    font-size: 13px;
}
.footer .container span{
    color: #999999;
    font-size: 12px;
}
.footer .container .footer-img{
    margin-left: 500px;
}
.footer .container .footer-right{
    float: right;
    margin-right: 193px;
}